.relative {
  position: relative;
}

#refreshBtn {
  position: absolute;
  top: 8px;
  left: 8px;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.no-margin {
  margin: 0;
}

#hangmanInputBox {
  background-color: #337ab7;
  color: yellow;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding-top: 3px;
  text-align: center;
}

#cursor.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

#remainingGuess {
  font-weight: bold;
  color: yellow
}

#currentGuessedWord {
  min-height: 80px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

#letterGuessed {
  min-height: 70px;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

#congratulation,
#gameover {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightyellow;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4), 0 15px 30px 0 rgba(0, 0, 0, 0.4);
}
#gameover img, #congratulation img {
  max-width: 640px;
}

#newGameBtn-c {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#newGameBtn-g {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.instruction {
  padding-left: 10px;
}

.instruction p {
  font-size: 16px;
}

.panel-body {
  padding: 8px;
}
.audio-control {
  margin-top: 15px;
}