.relative {
  position: relative;
}

#refreshBtn {
  position: absolute;
  top: 8px;
  left: 8px;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*left: 50%-32px;*/
}